.env
backend/venv
backend/__pycache__
backend/.pytest_cache
backend/.mypy_cache
backend/.coverage
backend/.vscode
backend/.idea
backend/.git

frontend/.next
frontend/.env
frontend/.vercel
frontend/.yarn
frontend/.yarn-integrity
frontend/.yarnrc
frontend/.yarnrc.yml
frontend/.yarnrc.yaml
frontend/.yarnrc.json
frontend/.pnp.*
frontend/.pnp.js
frontend/.pnp.cjs
frontend/.yarn-metadata.json
frontend/node_modules
frontend/venv